body {
  font-family: Arial, Helvetica, sans-serif;
}

.toggle-button {
  color: rgb(66, 109, 211);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 10px;
  display: inline-block;
}

.p-title {
  font-weight: 600;
  padding-left: 7px;
}

.p-price {
  padding-left: 7px;
}

.info-p {
  font-size: 9px;
  padding-left: 7px;
}

.p-button {
  border-radius: 5px;
  background-color: rgb(158, 209, 235);
  padding-left: 12px;
}

.container {
  /*border: solid 3px black;*/
  border-radius: 10px;
  display: inline-block;
  background-color: rgb(110, 181, 217);
  margin-right: 15px;
}

.pizza {
  height: 150px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;

}

.pizza2 {
  height: 150px;
  width: 212px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
}

.add {
  background-color: rgb(7, 173, 7);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 5px 5px;
}

.sub {
  background-color: rgb(190, 20, 20);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 5px 5px;
}